<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <p>
    <label>Red intensity (between 0 and 255):</label>
    <input type="range" name="r" [(ngModel)]="rgbColor.r" min="0" max="255" required>
  </p>
  <p>
    <label>Green intensity (between 0 and 255):</label>
    <input type="range" name="g" [(ngModel)]="rgbColor.g" min="0" max="255" required>
  </p>
  <p>
    <label>Blue intensity (between 0 and 255):</label>
    <input type="range" name="b" [(ngModel)]="rgbColor.b" min="0" max="255" required>
  </p>
  <p>
    <button type="submit" [disabled]="!f.valid">Submit</button>
  </p>
</form>

<div #rgbColorDiv>RGB color</div>
